

body{
    background-color: black;
    overflow-y: none;
}

.Container{
    width: 100%;
    min-height: 100vh;
    color: aliceblue;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    
   

    
    
}





/* .Container-1{
    background-color: aqua;
    width: auto;
    height: auto;
} */


